body {
  font-family: 'Kosugi Maru', sans-serif;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-right {
  justify-content: flex-end;
}

.page {
  justify-content: center;
  min-height: 100%;
}

.align-center {
  text-align: center;
}

.content {
  padding: 0.4rem 0.2rem;
  font-size: 1.2rem;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

header {
  color: white;
  background-color: #2f1758;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  margin: 4px;
}

h2 {
  font-size: 1.4rem;
  margin: 4px;
}

.center-text {
  margin: 10px 0px;
  align-self: center;
}

.left-text {
  margin: 5px 0px;
  align-self: start;
}

#about {
  line-height: 1.3;
  font-size: 0.8rem;
}

#about > p {
  padding: 6px 0px;
}

input#kanji-input {
  font-size: 2rem;
}

.info {
  display: grid;
  grid-template-columns: auto 1fr;
  flex-direction: column;
  width: auto;
}

.info > div {
  border-bottom: 0.5px solid black;
  padding: 2px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.words {
  justify-content: flex-start;
}

.word-card {
  align-items: center;
  background: thistle;
  border: 0.5px solid mediumorchid;
  border-radius: 22px;
  margin: 1px;
  padding: 4px 6px 4px 4px;
}

.serif {
  font-family: 'Noto Serif JP', serif;
}

.field {
  font-size: 0.8rem;
}

.field-value {
  font-size: 1rem;
  justify-content: flex-start;
}

.word, .meaning, .kun-reading, .on-reading, .name-reading, .reading, .kanji, #romaji-toggle {
  margin: 1px;
  padding: 4px;
  border-radius: 8px;
}

#romaji-toggle {
  background: #353535;
  border: black;
  color: white;
  align-self: flex-start;
  font-size: 1.5rem;
  padding: 6px 10px;
}

.romanized {
  font-family: 'Lato', sans-serif;
}

.kun-reading:hover, .on-reading:hover, .name-reading:hover, .kanji:hover, #romaji-toggle:hover {
  box-shadow: 0px 0px 10px 2px #cccccc;
}

.meaning {
  font-family: 'Lato', sans-serif;
  background: moccasin;
  border: 1px solid tan;
}

.hover-shadow:hover {
  text-shadow: 0px 0px 4px #ffffff;
}

.kun-reading {
  background: lightpink;
  border: 1px solid palevioletred;
}

.on-reading {
  background: powderblue;
  border: 1px solid steelblue;
}

.name-reading {
  background: lightgreen;
  border: 1px solid seagreen;
}

.kanji {
  background: lemonchiffon;
  border: 1px solid gold;
}

.reading {
  background: thistle;
  border: 1px solid darkorchid;
}

.word-reading, .word-meaning {
  font-size: 0.6rem;
}

.loader {
  color: #aed6c3;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 500px), (min-device-width: 500px) {
  .info > div {
    padding: 4px;
  }

  .content {
    font-size: 3rem;
    padding: 0.2rem 6rem;
  }

  .field {
    font-size: 1.2rem;
  }

  .field-value {
    font-size: 1.2rem;
  }

  .word-reading, .word-meaning {
    font-size: 0.8rem;
  }

  .word-card {
    margin: 4px;
    padding: 4px 10px;
  }

  .word, .meaning, .kun-reading, .on-reading, .name-reading, .reading, .kanji, #romaji-toggle {
    margin: 4px;
  }
}
